*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --mainFont:"Lato", "sans-serif";
    --maincolor: #FB2E86;
}
body{
    height: 60000px;
}

.list_items a{
    text-decoration: none;
    transition: .8s;
}
.container{
    width: 80%;
    margin: auto;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:88px;
    
}
.navbar{
  padding: 35px 100px ;
    background:#ffffff;
    height: 100px;
    position: fixed;
      position: fixed;
      width: 100%;
}
.list_items ul{
 display: flex;
  gap: 20px;
  color:#0D0E43;
  list-style-type: none;
 font-family: var(--mainFont);
  font-size:16px;
}
.home{
    color: var(--maincolor);
}
form{
    border: 2px #c0bfc0 solid;
    display: flex;
}
button{
    background-color: var(--maincolor);
    border: none;
     padding: 7px;
    
}
.list_items a:hover{
color:var(--maincolor);
font-size: larger;
}

