
header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
header{
    background:#ffffff;
    position:sticky;
      width: 100%;
      top: 0;
}
.list_items a{
    transition: .8s;
}

.list_items ul{
 display: flex;
 flex-wrap: wrap;
  gap: 20px;
  color:#0D0E43;
 font-family: var(--mainFont);
  font-size:16px;
}
.home{
    color: var(--maincolor);
}

button{
    background-color: var(--maincolor);
    border: none;
     padding: 7px;
    
}
.list_items a:hover{
color:var(--maincolor);
font-size: larger;
}
.menu{
    display: none;
}
.menu:hover{
color:var(--maincolor);
font-size:larger;
}
@media screen and (min-width: 0px) and (max-width: 601px){
    header.container{
        width: 100%;
    }
    .search_form {
        display: none;
     }
     .list_items ul {
        display: none;
     }
     .menu{
        display: block;
     }
}
@media screen and (min-width:602px) and (max-width:905px) {

       .navbar .container{
        gap: 10px;
    }
    
     .list_items ul {
        display: none;
     }
     .menu{
        display:block;
     }
}
@media screen and (min-width:906px) and (max-width:1080px) {
       .navbar .container{
        gap: 10px;
    }
   
     .menu{
        display:none;
     }
    
}
.footer{
    background-color:#EEEFFB;
    margin-top: 20px;
    padding-bottom: 50px;

}
.footer .row{
    align-items:flex-start;
    gap: 30px;
    
}
.left-side{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 34px;
}

.sign-up {
    color: #EEEFFB;
    padding: 12px 40px 10px 39px;


}
.email-box{
    color: var(--maintextcolor);
    padding: 12px 80px 12px 20px;
    background-color: #ffffff81;
    border: none;
}
.contact-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 11px;
}
.contact-info h2 ,.contact-info p{
    font-family: var(--mainFont);
    color: var(--maintextcolor);
    font-weight:500;
    font-size: 16px;
}

.info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 51px;
    
}
.info h2{
font-family: "Josefin Sans";
    font-size: 22px;
    font-weight: 700;
    color: #000000;
    
} 
.right-side .row{
     gap: 60px;

    
} 
.info{
    width:calc((100% - 120px)/3);
}
 .info ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 24px;

 }
.info a{
    color: var(--maintextcolor);
    font-family: var(--mainFont);
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    transition: .8s;
}
.info  a:hover{
color:var(--maincolor);
}
@media screen and (min-width: 0) and (max-width: 601px){
 .info{
    width: 100%;
    align-items: center;
 }
.email-box{
    padding:10px;

}
.sign-up {
      padding: 8px;
 }
 .right-side{
    text-align: center;
 }
}
@media screen and (min-width:602px) and (max-width:905px){
 .info{
       width:calc((100% - 60px)/2);
 }
 
}
@media screen and (min-width:906px) and (max-width:1080px){
    .info{
    width:calc((100% - 120px)/3);
}
}
.hero{
    background-image: url(../img/bg.png);
    background-size: cover;
    height:50vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    
}
.hero-content{
   width: 50%;
   text-align: center;
    color: #151875;
    font-size: 30px;
    font-family: "Josefin Sans", sans-serif; 
    padding: 40px 0px 0px 0px ;
}
 .shop-btn button {
    text-align: center;
    padding: 16px 50px;
    font-size: 17px;
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
}
@media screen and (min-width: 0) and (max-width: 601px){
    .hero{
        padding: 0px;
        background-size: cover;
        background-position: top center;
    }
        .hero-content{
            font-size: 16px;
        }
        .shop-btn button{
    padding: 8px 25px;
    font-size: 14px;
        }

}
@media screen and (min-width:602px) and (max-width:1000px){
 .hero{
        background-size: cover;
    }
        .hero-content{
            font-size: 20px;
        }
 
}
.Featured-Products .row{ 
    gap: 30px;
}
.Featured-Products h2{
    text-align: center;
    color: #1A0B5B;
    font-size: 42px;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    padding-top: 20px;
}
.product .row{
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.product{
width: calc((100% - 90px)/4);
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

   
}
.product-details h3{
    font-family: var(--mainFont);
    color: var(--maincolor);
    font-size: 18px;
    font-weight: 700;
}
.product-details{
    background-color: #FFFFFF;
    padding-top: 15px;
}
.product-img {
    padding: 35px 30px 0px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.product-img img{
    width: 178px;
    height: 178px;
}
.product-details .row{
    flex-direction: column;
    padding-bottom: 10px;
}
.product-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    color: #151875;
   font-family: "Josefin Sans", sans-serif;
   font-size: 14px;
   font-weight: 400;
}
.color{
border: 0;
margin: 0px;
padding: 0px;
border-radius:3px;
width: 14px;
height: 4px;
}
.product-btn .color1  {
    background-color: #05E6B7;
}
.product-btn .color2{
    background-color: #F701A8;
}
.product-btn .color3{
    background-color: #00009D;
}

.product-view{
    background-color: #F6F7FB;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
justify-content: center;

}
.product-icon{
    visibility: hidden;
    position: absolute;
    top: 16px;
    left: 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    color: #1DB4E7;
   align-items: center;
   justify-content: left;
}
.btn-product{
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    padding-bottom: 10px;
    
}
.product-icon svg:hover {
    background-color: #EEEFFB;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    padding:7px ;
color: #2F1AC4;

   

}
.product:hover .product-view{
   position: relative;
    .product-icon{
        visibility: visible;
    }
    .btn-product{
        visibility: visible;
    }

}
.product:hover .product-details{
    background-color: #2F1AC4;
    h3{
        color: #ffffff;
    }
    .product-info{
color: #ffffff;
    }
}
.btn-product button{
    background-color: #08D15F;
    color: #FFFFFF;
    font-size: 12px;
    padding: 9px 13px;
    border-radius: 4px;
}
@media screen and (min-width: 0) and (max-width: 601px)
{
    .product{
width: 100%;  
}
}
@media screen and (min-width:602px) and (max-width:905px){
    .product{
width: calc((100% - 30px) /2);
}
}
@media screen and (min-width:906px) and (max-width:1080px){
        .product{
width: calc((100% - 60px) /3);
}
}
